<html>
<body>
  {{ define "home" }}
  <div class="page">
    <div class="quick-start">
      <div class="quick-start-title">Peer Chat</div>
      <div class="about">
        <p>Welcome to Peer Chat! Here, you can connect with anyone, anywhere in the world, through the internet.</p>
        <p>Simply click the <strong class="color-bright-blue">Create</strong> button below to set up your own room. Invite your friends or meet someone new. If your friends already have a room, join them by clicking the <strong class="color-bright-blue">Connect</strong> button.</p>
        <p>You can also join public rooms listed below and start engaging with others right away. The choice is yours!</p>
      </div>
      <div class="start-buttons">
        <button class="usual-button bright-button" id="create-btn">Create Room</button>
        <button class="usual-button transparent-button" id="connect-btn">Connect to Room</button>
      </div>
    </div>
    <div class="rooms">
      <div class="rooms-search">
        <input 
          class="search-bar text-input" 
          id="room-search-bar"
          type="text" 
          placeholder="Type room name..."
        >
      </div>
      <div 
        class="room-list-container"
        hx-get="/x/rooms"
        hx-trigger="load"
      ></div>
    </div>
  </div>

  <script>
    let isSearching = false;
    const searchBar = document.getElementById("room-search-bar");
    searchBar.addEventListener('keyup', () => {
      if (!isSearching) {
        setTimeout(() => {
          isSearching = true;
          const query = searchBar.value.toLocaleLowerCase();
          const rooms = document.querySelectorAll('.room-info');
          console.log(query);
          for (const room of rooms) {
            const name = room.querySelector('.room-info-name').textContent.toLocaleLowerCase();
            room.style.display = name.includes(query) ?  "flex" : "none"
          }
          isSearching = false;
        }, 300)
      }
    });
  </script>
  
  <div class="fixed-form" id="create-form">
    <form 
      class="form" 
      hx-post="/x/rooms/create"
      hx-target="find .form-message"
    >
      <div class="form-title">
        Create New Room
      </div>
      <div class="form-message"></div>
      <input 
        class="form-input text-input" 
        type="text"
        name="name"
        placeholder="Type room name"
      >
      <div class="radio-group">
        <div>
          <input
            class="form-input radio-input"
            type="radio"
            name="access"
            value="1"
            checked
          >
          <label>public</label>
        </div>
        <div>
          <input
            class="form-input radio-input"
            type="radio"
            name="access"
            value="0"
          >
          <label>private</label>
        </div>
      </div>
      <input class="usual-button bright-button" type="submit" value="Create">
    </form>
  </div>
  
  <div class="fixed-form" id="connect-form">
    <form 
      class="form"
      hx-put="/x/rooms/connect"
      hx-target="find .form-message"
    >
      <div class="form-title">
        Connect to Room
      </div>
      <div class="form-message"></div>
      <input 
        class="form-input text-input" 
        type="text"
        name="id"
        placeholder="Type room id"
      >
      <input class="usual-button bright-button" type="submit" value="connect">
    </form>
  </div>

  <script>
    const createFormPage = document.getElementById('create-form');
    const createFormBtn = document.getElementById('create-btn');
    createFixedForm(createFormPage, createFormBtn);
    const createForm = createFormPage.querySelector('form');
    createForm.addEventListener('htmx:responseError', (event) => {
      if (event.detail.xhr.status === 400) {
        createForm.querySelector('.form-message').innerHTML = event.detail.xhr.responseText;
      }
    });

    const connectFormPage = document.getElementById('connect-form');
    const connectFormBtn = document.getElementById('connect-btn');
    createFixedForm(connectFormPage, connectFormBtn);
    const connectForm = connectFormPage.querySelector('form');
    connectForm.addEventListener('htmx:responseError', (event) => {
      if (event.detail.xhr.status === 400) {
        connectForm.querySelector('.form-message').innerHTML = event.detail.xhr.responseText;
      }
    });
  </script>

  <footer>
    <p class="copyright">&copy; 2024 Orest Bodnar. All Rights Reserved.</p>
  </footer>
  {{ end }}
</body>
</html>