<html>
<body>
  {{ define "room" }}
  <div class="room-container">
    <div class="container remote">
      <video class="video-player" id="remote-video" autoplay playsinline></video>
    </div>
    <div class="container local">
      <video class="video-player" id="local-video" autoplay playsinline></video>
    </div>
    <div class="loader-container" id="loader-container">
      <div class="loader"></div>
      <div class="loader-message" id="loader-message"></div>
    </div>
    <div class="controls">
      <button class="control" id="micro-control">
        <img src="/static/img/mic.png">
        <img class="mute" id="mute-micro" src="/static/img/mute.png">
      </button>
      <button class="control" id="camera-control">
        <img src="/static/img/camera.png">
        <img class="mute" id="mute-camera" src="/static/img/mute.png">
      </button>
      <button class="control cancel" id="disconnect-control">
        <img src="/static/img/phone.png">
      </button>
    </div>
  </div>
  <script>
    var room = {
      id: {{ .Id }},
      name: {{ .Name }},
      creationTime: {{ .CreationTime }},
    };
  </script>
  <script type="module" src="/static/js/room.js"></script>
  {{ end }}
</body>
</html>