<html>
<body>
  {{ define "room-list" }}
  {{ if gt (len .Rooms) 0 }}
  <div class="color-bright-blue"><strong>Public Rooms: {{ len .Rooms }}</strong></div>
  {{ else }}
  <div class="color-bright-blue">It looks like there are no public rooms.</div>
  {{ end }}
  <div class="room-list">
    {{ range .Rooms }}
    {{ . }}
    {{ end }} 
  </div>
  <script>
    const rooms = document.querySelectorAll(".room-list .room-info");
    for (const room of rooms) {
      const id = room.querySelector(".room-info-id").textContent;
      room.querySelector(".room-info-connect").addEventListener('click', () => {
        window.location.href = `/room/${id}`
      });
    }
  </script>
  {{ end }}
</body>
</html>