<html>
<body>
  {{ define "room-info" }}
  <div class="room-info">
    <div class="room-info-date">
      {{ .CreationTime }}
    </div>
    <div class="room-info-id" style="display: none;">{{ .Id }}</div>
    <div class="room-info-name">
      {{ .Name }}
    </div>
    <div class="room-info-clients">
      <span data-i18n="room-info-participants">People</span>
      : {{ .Clients }}
    </div>
    {{ if ge .Clients 2 }}
    <div class="hint" data-i18n="room-info-hint">
      The room is full, you will have to wait until someone disconnects.
    </div>
    {{ end }}
    <button 
      class="room-info-connect usual-button bright-button" 
      data-i18n="room-info-connect"
    >Connect</button>
  </div>
  {{ end }}
</body>
</html>